<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="d3324813-79e2-4366-9a37-dd39c74be706"
            Publisher="CN=Cyprien"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>HardwareTokenSample</DisplayName>
    <PublisherDisplayName>Cyprien</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="HardwareTokenSample.App">
        <VisualElements
            DisplayName="HardwareTokenSample"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="HardwareTokenSample"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>